body,html{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    max-height: 100%;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}



.container{
    position: relative;
    width: 1420;
    height: 100px;
    background-color: #384859;
    margin-top: 0px;

}
.nav-bar{
    width: 95%;
    height: 100%;
    background-color: #384859;
    position: absolute;
    left: 35px;
}
.place-icon{
    width: 90px;
    height: 80px;
    background-color: #384859;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 20px;

}
.logo{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.place-nav{
    width: 1150px;
    height: 90px;
    background-color: #384859;
    position: absolute;
    display: inline;
    left: 200px;
    top: 5px;
}
.nav{
    width:100%;
    height: 100%;
    display: inline;
    position: absolute;
}
.ul1 a{
    float: right;
    display: inline;
    position: absolute;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    top: 30px;
    text-transform: capitalize;

}
.a1{
    display: inline;
    float: right;
    position: absolute;
    left: 00px;
}
.a2{
    position: absolute;
    left: 600px;
}
.a3{
    left: 400px;
}
.a4{
 left: 180px;

}
.a5{
    left: 790px;
}
.a6{
    left: 970px;
}
.ul1 a:hover{
    color: #90be9a;
}
.aks1-div{
    width: 850px;
    height: 460px;
    position: absolute;
    background-color: white;
    left: 0px;
    top: 140px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
}
.aks1{
    width: 100%;
    height: 100%;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;

}
.right-div{
    width: 100%;
    height: 550px;
    background: linear-gradient(to left, #384859 30%, aliceblue);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 80px;
    position: absolute;
    top: 100px;
    right: 0px;
    float: right;


}
.inside-div-right{
    width: 100%;
    height: 99%;
    background: linear-gradient(to left,#84a4c9 30%, aliceblue);
    border-top-left-radius: 70px;
    border-bottom-right-radius:75px;
    position: absolute;
    top: 0px;
    right: 5px;
  


}
.first-h1{
  width: 550px;
  position: absolute;
  right: 10px;
  top: -30px;
  text-align: center;
  height: 300px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
 
}
.inside-div-right:hover .first-h1{
    text-decoration: underline 3px;
}
.second-div-p{
  width: 300px;
  height: 200px;
  position: absolute;
  right: 130px;
  top: 250px;
  opacity: 60%;

  text-align: center;

}
.second-div-p h4{
    width: 100%;
    height: 100%;
    text-align: justify;
    color: white;
    font-size: 18px;

}
.new-button-div{
    width: 200px;
    height: 40px;
    position: absolute;
    background: linear-gradient(to right,#384859,#84a4c9);
    border-radius: 50px;
    right: 190px;
    top: 560px;

}
.new-button:hover{
    background-color: #84a4c9;
    cursor: pointer;
    color: black;
    border: solid 1px white;
    transition: ease-in-out 0.2s;
}
.new-button{
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    color: white;
    font-weight: 800;
    border-radius: 50px;
    color: black;
    transition-duration: 0.5s;
}
.box1-div,.box2-div,.box3-div,.box4-div{
    width: 1000px;
    height: 400px;
    position: relative;
    top: 600px;
    left: 80px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.box2-div{
    margin-top: 40px;
}
.box3-div{
    margin-top: 40px;

}
.box4-div{
    margin-top: 40px;
}
.p1,.p3,.p5,.p7{
    width: 60%;
    height: 80%;
    position: absolute;
    border-top-left-radius: 50px;
}
.p2,.p4,.p6,.p8{
    width: 55%;
    float: right;
    position: relative;
    height: 50%;
    background-color: #84a4c9;
    top: 120px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.img,.img2,.img3,.img4{
    width: 90%;
    height: 100%;
    border-top-left-radius: 50px;
}
.a1-speaking,.a2-speaking,.b1-speaking,.b2-speaking{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 20px;
    font-size: 30px;
    text-transform: capitalize;
    color: aliceblue;
}
.a1-text,.a2-text,.b1-text,.b2-text{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 10px;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    top: 50px;
    color: #384859;
}
.a1-speaking:hover{
    text-decoration: underline 3px;
}
.a2-speaking:hover{
    text-decoration: underline 3px;
}
.b1-speaking:hover{
    text-decoration: underline 3px;
}
.b2-speaking:hover{
    text-decoration: underline 3px;
}
.long-horizontal-div{
    width: 100%;
    height: 1270px;
    background-color: #384859;
    position: relative;
    top: 100px;

}
.first-horizontal-box{
    width: 100%;
    height: 300px;
    background-color: #384859;
    position: absolute;
    
}
#inside-box-h1{
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 90px;
    position: absolute;
    top: -20px;
    text-transform: capitalize;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
#inside-box-h4{
    width: 50%;
    height:50%;
    top: 120px;
    left: 350px;
    font-size:30px;
    font-weight: 500;
    text-align: center;
    color: aliceblue;
    position: absolute;
    opacity: 60%;
}
.second-horizontal-box{
    width: 100%;
    height: 200px;
    background-color: #384859;
    position: absolute;
    top: 300px;
   
}
.number{
    width: 35px;
    height: 33px;
    border-radius: 100%;
    text-align: center;

    vertical-align: middle;
    background-color: #84a4c9;
    position: relative;
    left: 400px;
    top: 68px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif\;
}
#first-title{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
#h5{
    width: 50%;
    height: 100%;
    font-size: 16px;
    position: relative;
    top: 60px;
    left: 350px;
    text-align: center;
    color: aliceblue;
    opacity: 80%;
    font-weight: 500;
}
.first-vertical-img,.second-vertical-img{
    width: 700px;
    height: 717px;
    position: absolute;
    left: 5px;
    top: 550px;
}
.second-vertical-img{
    left: 700px;
    margin-left: 20px;
}
.first-v-img,.second-v-img{
    width: 100%;
    height: 100%;
}
.left-text,.right-text{
    width: 300px;
    height: 100px;
    font-size: 18px;
    position: absolute;
    top: 570px;
    left: 230px;
    font-weight: 700;
    text-transform: capitalize;
}
.right-text{
    left: 990px;
}