.dheader{
    background-color: #384859;
    width: 1417px;
    height: 120px;
    display: inline-block;
    margin: 0px;
    border: none;

   
    
}
.inner-h{
    width: 1200px;
    height: 90px;
    margin:0 auto;
    background-color: #384859;
    border: none;
}
body{
    background-color: #384859;
    display: flex;
    flex-wrap: wrap;
    width: 1417px;
    margin:4px;
    text-transform: capitalize;
    
}
.nmd{
    float: left;
    height: 90px;
    width: 120px;
    position: relative;
    left: -60px;
    

    
  

}
#hlogo{
    width: 100%;
    height: 90%;
    margin: 15px 10px 0px 0px ;
    border-radius: 15px;
    display: table-cell;
    vertical-align: middle;
    border: solid #ffffff 2px;
    
}


.navigations{
 height: 90px;
 float: right;
 width: 98%;
 margin-top: 20px;
 text-align: center;
 display: flex;
 flex-wrap: wrap;
 margin-left: 4px;
 font-family: Arial, Helvetica, sans-serif;
 background-color: #384859;
 left:50px;
 top: -90px;
 position: relative;
}
.navigations ul li{
  display: inline;
  vertical-align: middle;
  margin: 10px 50px 10px 40px;
  font-size: 40px;
  width: 100%;
  height: 50px;
  position: relative;
  left: 0px;
}
.navigations li a {
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    position: relative;
    left: 10px;
    width: 100%;
}
a{
height: 100%;
width: 100%;
text-align: center;
vertical-align: middle;
border-radius: 10px;

}

#l1:hover{
    color: #90be9a;

}
#l1::before{
    content: '';
    display: block;
    height: 8px;
    width:100%;
    background-color:#90be9a;
    position: absolute;
    top: -41px;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l1:hover::before{
    width: 130px;
  
}

#l2:hover{
    color: #90be9a;

}
#l2::before{
    content: '';
    display: block;
    height: 8px;
    width:1000%;
    background-color:#90be9a;
    position: absolute;
    top: -41px;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l2:hover::before{
    width: 330px;
}
#l3:hover{
    color: #90be9a;

}
#l3::before{
    content: '';
    display: block;
    height: 8px;
    width:1000%;
    background-color:#90be9a;
    position: absolute;
    top: -41px;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l3:hover::before{
    width: 530px;
}
#l4:hover{
    color: #90be9a;

}
#l4::before{
    content: '';
    display: block;
    height: 8px;
    width:1000%;
    background-color:#90be9a;
    position: absolute;
    top: -41px;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l4:hover::before{
    width: 700px;
}
#l5:hover{
    color: #90be9a;

}
#l5::before{
    content: '';
    display: block;
    height: 8px;
    width:1000%;
    background-color:#90be9a;
    position: absolute;
    top: -41px;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l5:hover::before{
    width: 880px;
}
#l6:hover{
    color: #90be9a;

}
#l6::before{
    content: '';
    display: block;
    height: 8px;
    width:100%;
    background-color:#90be9a;
    position: absolute;
    top: -41px;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l6:hover::before{
    width: 1120px;
  
}
.bigimg{
    width: 1500px;
    height: 600px;
    ;
}
 #aks{
    width: 1417px;
    height: 600px;
    margin: 0px 0px 0% 0px;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
#hd h1{
    height: 260px;
    font: 25px;
    background-color: #90be9a;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: -180px;
    border-radius: 10px;
    position:relative;
    width: 750px;
    padding: 20px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;

}
#hd button{
    margin-top: -155px;
    position: absolute;
    width: 400px;
    height: 90px;
    margin-left: 220px;
    border-radius: 20px;
    border: solid rgb(255, 255, 255) 2px;
    background-color: aliceblue;
    

}
#hd button span{
    font-size: x-large;
    font-weight: 800;
    color: #384859;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
}
#hd button a{
    text-decoration: none;
}
#hd button:hover{
    background-color: #384859;
    transition:ease-in-out 150ms;
    

}
#hd button:hover span{
    color: #ffffff;
}

.second{
    width: 1421px;
    height: 550px;
    background-color:#384859;
    position: absolute;
    margin: 0px;
    display: inline-block;

}
.second h2{
    width: 1421px;
    height: 100px;
    background-color: aliceblue;
    text-align: center;
    margin-top: 10px;
    padding-top: 55px;
    text-transform: capitalize;
    font-weight: 900;
    font-size: xx-large;
    word-spacing: 5px;
    color: #384859;
    font-family: Arial, Helvetica, sans-serif;
    
}
.cb, .b2 , .b3, .b4{
    width: 300px;
    height: 300px;
    background-color: #90be9a;
    margin-left: 30px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px ;


}
.cb{
    position: relative;
    top: 17px;

}
.b2{
   background-color: aliceblue;
   float: right;
   margin-top: -310px;
   position: relative;
   left: -750px;
   top: 30px;
  
}
.b3{
    float: right;
    right: 405px;
    top: -280px;
    justify-content: center;
    position: relative;
    background-color: aliceblue;
}
.b4{
    position: relative;
    float: right;
    right: -270px;
    top: -280px;

}
#small{
    float: left;
    margin-top: 175px; 
    width:70%;
    height: 40px;
    position: relative;
    font-size: 24px;
    left: 75px;
    color: rgb(255, 255, 255);
    
   
}
#small:hover{
text-decoration: underline;
}
#online{
    width: 100px;
    height: 100px;
    left: 100px;
    margin-top: 40px;
    position: absolute;
    
}
#text{
     width: 80%;
    margin-top: 215px; 
    position: absolute;
    text-align: justify;
    color: #ffffff;
    padding-left: 20px;
    margin-left: 10px;
    padding-right: 10px;
}
#text:hover{
    text-decoration: underline;
}
#ielts{
    width: 90px;
    height: 100px;
    margin-left: 107px;
    margin-top: 40px;
    margin-bottom: 10px;

}
#pt{
    width: 90px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 35px;

}
#small2 {

    padding-left: 27px; 
    padding-right:  20px;
    text-transform: capitalize;
    width: 100%;
    font-size: 24px;
    position: relative;
    left: 20px;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: justify;

}
#sh3{
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -4px;
}
#small2:hover{
text-decoration: underline;
}

#sh3:hover{
    text-decoration: underline;
}
#personal-teachers{
    margin-left: 25px;
    width: 290px;
    margin-top: 70px;
    font-size: 24px;
    position: relative;
    left: 20px;
    top: -3px;

}
#sh4{
    margin-top: -10px;
    margin-left: 20px;
    text-align: justify;
    margin-right: 20px;
}
#personal-teachers:hover{
text-decoration: underline;
}
#sh4:hover{
    text-decoration: underline;
}
.b4,.b3,.b2,.cb{
    opacity: 70%;

}
.b4:hover{
    opacity: 100%;
}
.b3:hover{
    opacity: 100%;
}
.b2:hover{
    opacity: 100%;
}
.cb:hover{
    opacity: 100%;
}


#st{
    width: 90px;
    height: 100px;
    position: relative;
    left: 105px;
    top: 35px;
}
#self-study{
    margin-left: 20px;
    margin-top: 70px;
    color: rgb(255, 255, 255);
    width: 300px;
    position: relative;
    font-size: 24px;
    left: 20px;
}
#sh5{
    margin-top: -10px;
    margin-left: 20px;
    text-align: justify;
    margin-right: 20px;
    color:rgb(255, 255, 255) ;
}
#self-study:hover{
    text-decoration: underline;
}
#sh5:hover{
text-decoration: underline;
}
.third-part{
    width: 100%;
    height: 2000px;
    background-color: #5d7762;
}
.box1{
    width: 90%;
    height: 500px;
    background-color: #384859;
   position: relative;
   left:70px;
   top: 600px;
   border-top-right-radius: 20%;
   
   

}
#akse1{
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #384859;
}
#khodeakse1{
    width: 95%;
    height: 95%;
    margin: 20px;
    margin-left: 10px;
    position: relative;
    top: -10px;
    border-radius: 10px;

}
#text1{
    width: 49%;
    height: 98%;
    float: right;
    position: relative;
    margin: 10px;
    top: -500px;
   color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
#second-heading{
    width: 49%;
    height: 70px;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    position: relative;
    left: 150px;
    font-family: Arial, Helvetica, sans-serif;

}
#khodetext1{
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    position: relative;
    top: -20px;
}
#info{
    font-size: 23px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    font-weight: 550;
    top: -25px;
    border-top-right-radius: 20%;
}
#listing{
    font-size:  18px;
    word-spacing: 5px;
    line-height: 30px;
    position: relative;
    top: -30px;
    width: 70%;
    margin-left: 45px;

}
#dokme3{
    position: relative;
    left: 150px;
    top: -15px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: solid #90be9a 2px;
    color: white;
    font-weight: 700;

}
#dokme3 a{
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;

}
#dokme3:hover{
    background-color: #90be9a;
    transition: 0.5s;
    border:solid white 5px;
}
.background-img{
    width: 1417px;
    height: 700px;
    position: relative;
    top: 700px;
}
#khode-background{
    position: relative;
    top: -520px;
    width: 100%;
   
}
#box-2{
    width: 90%;
    height: 500px;
    background-color: rgb(215, 215, 215);
    position: relative;
    top: -1370px;
    left: 70px;
    border-radius: 4px;

}
#box-left{
    width: 50%;
    height: 100%;
    background-color: rgb(215, 215, 215);
    position: relative;
    border-radius: 4px;
}
#aks-rast{
    width: 50%;
    height: 90%;
    position: relative;
    float: right;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 5px; ;
    margin-left: 5px;
    padding-right: 8px;

}
#second-info{
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    font-weight: 550;
    top: -35px;
    font-family: Arial, Helvetica, sans-serif;
}
#second-listing{
    font-size:  18px;
    word-spacing: 5px;
    line-height: 30px;
    position: relative;
    top: -55px;
    width: 70%;
    margin-left: 45px;
    font-family: Arial, Helvetica, sans-serif;

}
#second-button{
    width: 300px;
    height: 50px;
    position: relative;
    left: 140px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    top: -50px;
    background-color: #5d7762;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: solid 2px rgb(255, 255, 255);
}
#second-button:hover{
    border: solid 5px rgb(255, 246, 246);
    background-color: #384859;
    transition:ease-in-out 0.5s, ease-out.5s;
    color: aliceblue;
    cursor: pointer;
}
.sefidbala-background{
    width: 1417px;
    height:700px;
    position: relative;
    top: -13px;
}
#sefid-bala{
    width: 100%;
    height: 100%;
    position: relative;
    top: -315px;
    
}
.third-box{
    width: 90%;
    height: 500px;
    background-color: red;
    position: relative;
    top: -940px;
    left: 70px;
    border-top-left-radius: 20%;
}
.third-box-left{
width: 50%;
height: 100%;
background-color: #5d7762;
border-top-left-radius: 20%;

}
.third-box-right{
width: 50%;
height: 100%;
float: right;
background-color: #5d7762;
position: relative;
top: -500px;
}
.third-picture{
    width: 95%;
    height: 95%;
    border-top-left-radius: 20%;
    margin: 20px;
    position: relative;
    top: -10px;
    left: -10px;

}
.third-heading, .fourth-heading{
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: beige;
}
.third-info,.fourth-info{
    font-size: 25px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -20px;
    text-align: justify;
    padding-right: 30px;
    line-height: 32px;
    color: beige;
    width: 80%;
    margin-left: 45px;
}
.third-listing, .fourth-listing{
    font-size: 18px;
    line-height: 30px;
    word-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
    position: relative;
    top: -35px;
    color: beige;
    font-weight: 300;
    width: 70%;
    margin-left: 50px;
    font-weight: 100;
    
}
.third-button,.fourth-button{
    height: 50px;
    width: 300px;
    background-color: #384859;
    border: solid 2px white;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    text-transform: capitalize;
    position: relative;
    left: 150px;
    top: -35px;
    color: #ffffff;
}
.third-button:hover{
    background-color: beige;
    border: solid 4px #ffffff;
    transition: 0.5s;
    color: #5d7762;
}
.sabz-bala{
    position: relative;
    width: 1417px;
    height: 700px;
    bottom: 515px;
}
#sabz-bala-wallpaper{
    position: relative;
    width: 100%;
    height: 100%;
    top: -500px;
}
.fourth-box{
    width: 90%;
    height: 500px;
    position: relative;
    bottom: 1550px;
    left: 70px;
    border-top-right-radius: 20%;

}
.fourth-box-left{
    width: 50%;
    height: 99%;
    float: left;
    background-color:rgb(215, 215, 215);

}
.fourth-box-right{
    width: 50%;
    height: 99%;
    float: right;
    background-color: rgb(215, 215, 215);
    border-top-right-radius: 20%;
    
}
#two-man{
    width: 95%;
    height: 95%;
    border-top-right-radius: 20%;
    position: relative;
    top: 13px;
    left: 20px;
}
.fourth-heading{
    color: black;

}
.fourth-info{
    color: black;
}
.fourth-listing{
    color: black;
}
.fourth-button{
    background-color: #5d7762;

}
.fourth-button:hover{
    background-color: #384859;
    transition: 0.5s;
    border: solid white 5px ;
}
.fourth-part{
    width: 1417px;
    height: 620px;
    background-color: #384859;
    position: relative;
    bottom: 900px;
}
#big-fourth{
    position: relative;
    top: 55px;
    font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   color: beige;
}
.vertical-box, .second-vertical-box, .third-vertical-box{
    width: 300px;
    height: 500px;
    position: relative;
    left: 120px;
    top: 100px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.second-vertical-box{
    position: relative;
    top: -400px;
    left: 500px;
    margin-left: 50px;

}
.third-vertical-box{
    position: relative;
    top: -900px;
    left: 980px;
}
.vertical-image, .second-vertical-image, .third-vertical-image{
    width: 100%;
    height: 40%;
    border-top-left-radius: 50px;
}
.vertical-text,.second-vertical-text,.third-vertical-text{
    width: 100%;
    height: 60%;
    background-color: rgb(215, 215, 215);
    border-bottom-right-radius: 50px;
    position: relative;
    top: -25px;   
}
.third-vertical-text{
position: relative;
top: 0px;
}
.second-vertical-text{
    position: relative;
    top: -23px;
}
.khode-vertical-image, .khodesecond-vertical-image,.khodethird-vertical-image{
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
}
.vertical-heading, .second-vertical-heading,.third-vertical-heading{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    color: #2d2d2d;
}
.second-vertical-heading{
    position: relative;
    top: -180px  ;
}
.vertical-info,.second-vertical-info,.third-vertical-info{
font-size: 16px;
width: 100%;
height: 100%;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: #2d2d2d;
font-weight: 550;
}
.vertical-info{
    width: 80%;
    margin-left: 25px;
}
.second-vertical-info{
    position: relative;
    top: -150px;
    width: 90%;
    margin-left: 15px;
}
.khodesecond-vertical-image{
    position: relative;
    top: -419px;
}
.third-vertical-heading{
    position: relative;
    top: -330px;
}
.third-vertical-info{
    position: relative;
    top: -320px;
    width: 80%;
    margin-left: 30px;
}
#second-h2{
    width: 100%;
    height: 100px;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 850px;
    text-align: center;
    color: beige;
}
.free-button{
    width: 300px;
    height: 60px;
    position: relative;
    background-color: #90be9a;
    bottom: 900px;
    left: 560px;
    border-radius: 20px;
    font-size: 22px;
    border: solid beige 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight:590;

}
.free-button:hover{
    background-color: rgb(215, 215, 215);
    border: solid #90be9a 5px;
    transition: 0.5s;
}
#third-h2{
    position: relative;
    text-align: center;
    bottom: 850px;
    color: beige;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
#resources{
    width: 1417px;
    height: 100px;
    background-color: rgb(215, 215, 215);
    position: relative;
    bottom: 820px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border: solid beige 2px;
    
}
#resources-listing{
    position: relative;
    display: inline-table;
    list-style: none;
    vertical-align: middle;
    margin-top: 40px;
    width: 90%;
    margin-left: 85px;
    opacity: 50%;
    
}
#resources:hover #resources-listing{
    opacity: 100%;
    transition: 0.4s;
    color: black;
    position: relative;
}
#a1{
    position: relative;
    float: right;
    right: 50px;
    

}
#a2{
    float: right;
    position: relative;
    right: 200px;
}
#a3{
    float: right;
    position: relative;
    right: 380px;
}
#a4{
    float: right;
    position: relative;
    right: 580px;
}
#a5{
    float: right;
    position: relative;
    right: 750px;
}
#a6{
    float: right;
    position: relative;
    right: 900px;
}
.fifth-part{
    width: 1417px;
    height: 500px;
    background-color: #5d7762;
    position: relative;
    bottom: -4300px;
}
.first-bx{
    width: 550px;
    height: 350px;
    background-color: rgb(215, 215, 215);
    position: relative;
    left:110px;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    top:70px;
}
.second-bx{
    width: 550px;
    height: 350px;
    background-color: rgb(215, 215, 215);
    position: relative;
    float: right;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    top: -280px;
    right: 110px;
}
#icon-english{
    width: 100px;
    height: 100px;
    position: relative;
    top: 40px;
    left: 220px;
}
#fourth-h2{
    position: relative;
    top: 40px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#fourth-h5{
    position: relative;
    top: 40px;
    left: 40px;
    text-align: center;
    width: 80%;
    height: 90%;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;

}
.first-bx:hover #fourth-h2{
    text-decoration: underline;
    transition:ease-in-out 0.2ms;
}
#free-icon{
    width: 100px;
    height: 100px;
    position: relative;
    top: 40px;
    right: -240px;
}
#fifth-h2{
    position: relative;
    top: 40px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#fifth-h5{
    position: relative;
    top: 40px;
    left: 40px;
    text-align: center;
    width: 80%;
    height: 90%;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}
.second-bx:hover #fifth-h2{
    text-decoration: underline;
}
.last-dance-new{
    width: 100%;
    height: 700px;
    background-color: aliceblue;
    position: relative;
    bottom: -4400px;
}
.div-for-h1{
    position: absolute;
    top: -100px;
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom,#5d7762 10%,rgb(215, 215, 215));
 
}
.khode-h1-3{
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 80px;
    color: rgb(215, 215, 215);
    font-family: Arial, Helvetica, sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --light: #ffe6e6;
  --dark: #000;
}

.container {
  --bg-color: radial-gradient(circle at 50% 0%,
      rgba(50, 50, 50, 1) 0%,
      rgba(12, 12, 12, 1) 100%);
  overflow: clip;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5rem;
  width: 100%;
  height: 100dvh;
  background-image: var(--bg-color);
  
}

.category_container {
  --gap: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: calc(var(--gap) * 2);
  width: 97%;
  height: 100%;
  position: absolute;
  top: -60px;
  margin-left: 20px;
  
}

@media (max-width:550px) {
  .category_container {
    flex-direction: column;
  }
}

.content {
  --active: 0;
  cursor: pointer;
  overflow: clip;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding: 2.5rem;
  width: calc((100% / 4) - var(--gap));
  height: 30%;
  border-radius: 1rem;
  transition: width 0.5s ease-in-out;
}

.content:hover {
  --active: 1;
  width: calc(30% - var(--gap));
}

.content::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  opacity: 0.6;
}

.content img {
  position: absolute;
  z-index: -20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.content .profile_image {
  opacity: calc(1 - var(--active));
  transition: opacity 0.3s ease-in-out;
}

.profile_detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 12rem;
  transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.profile_detail span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light);
  text-wrap: nowrap;

}

.profile_detail p {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
}

.profile_quote {
  width: 22rem;
  transform: translate(0,
      calc((1 - var(--active)) * (100% + 2.5rem)));
}

.profile_quote p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light);
  transform: translate(0,
      calc((1 - var(--active)) * (100% + 2.5rem)));
  transition: transform 0.5s cubic-bezier(0.23,
      0.93, 0.77, 1) 0.1s;
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
  transition: grid-template-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s, -ms-grid-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.profile_quote {
  min-height: 0;
  transform: translateY(50%);
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.content:hover .wrapper {
  grid-template-rows: 1fr;
}

.content:hover .profile_quote {
  transform: none;
  opacity: 1;
}
.last-horizontal-line{
    width: 100%;
    height: 3px;
    background-color: #384859;
    position: absolute;
    bottom: 200px;  
}    
.last-footer {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, rgb(215, 215, 215),#384859);
    display: grid;
    position: relative;
    bottom: -4200px;
    grid-template-columns: repeat(4, 1fr); /* Create 2 equal-width columns */
    grid-template-rows: repeat(2, 1fr); /* Create 2 equal-height rows */
    gap: 6px; /* Gap between the grid items */
    align-items: center; /* Center items vertically */
    justify-items: center; /* Center items horizontally */
}

.last-footer div {
    width: 200px;
    height: 200px;

}
table{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    color: aliceblue;
    width: 100%;
    font-size: 20px;

}
td{
    color: rgb(223, 221, 221);
    font-size: 18px;

}
.num8 td{
    font-size: 16px;
}
td:hover{
    text-decoration: underline;
}
.links-div{
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 4200px;
    opacity: 80%;
}
.last-horizontal-line-2{
    width: 90%;
    height: 3px;
    background-color: #384859;
    position: absolute;
    bottom:-6022px; 
    left: 60px; 
    border-radius: 20px;
}  
.logo-asli{
    width: 200px;
    height: 160x;
    position: relative;
    left: 50px;
    top: 5px;


}
.insta-yt{
width: 1100px;
height: 100px;
float: right;
position: relative;
top: 10px;
right: 20px;
border-radius: 2px;
background-color: rgb(223, 221, 221);
border-radius: 20px;


}
.contact,.name-sina,.khode-contact,.email,.ceo{
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    height: 20px;
    margin-top: 20px;
    text-align: center;

}
.name-sina{
    margin-top: -20px;
    font-weight: 800;
    width: 120px;
    background-color: rgb(152, 152, 152);
    margin-left: 160px;
    border-radius: 20px;
    font-size: 15px;
    color: white;  

}
.khode-contact{
margin-top: -70px;
margin-right: 310px;
float: right;
}
.email{
    float: right;
    margin-top: -70px;
    margin-right: 60px;
    text-transform: none;
    
}
.email:hover{
    text-decoration: underline;
}
.ceo{
margin-top: -22px;
}
.mine{
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: 120px;
}
.name-sina:hover{
    text-decoration: underline;
}