.dheader{
    background-color: #384859;
    width: 1417px;
    height: 120px;
    display: inline-block;
    margin: 0px;
    border: none;

   
    
}
.inner-h{
    width: 1200px;
    height: 90px;
    margin:0 auto;
    background-color: #384859;
    border: none;




}
body{
    background-color: #384859;
    display: flex;
    flex-wrap: wrap;
    width: 1417px;
    margin:4px;
    text-transform: capitalize;
    
    
    
}
.nmd{
    float: left;
    height: 90px;
    
  

}
#hlogo{
    width: 100px;
    height: 100px;
    margin: 5px 10px 0px 0px ;
    border-radius: 15px;
    display: table-cell;
    vertical-align: middle;
    border: solid #ffffff 2px;
    
}


.navigations{
 height: 90px;
 float: right;
 width: 900px;
 margin-top: 20px;
 text-align: center;
 display: flex;
 flex-wrap: wrap;
 margin-left: 4px;
 font-family: Arial, Helvetica, sans-serif;
}
.navigations ul li{
  display: inline;
  vertical-align: middle;
  margin: 0 55px 0px 52px;
  font-size: 40px;
  width: 90px;
  padding: 10px;
  height: 50px;
  
 
  

}
.navigations li a {
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    


}
#l1,#l2,#l3,#l4, a{
height: 100%;
width: 100%;
text-align: center;
vertical-align: middle;
border-radius: 10px;

}
#l1:hover{
    color: #90be9a;

}
#l1::before{
    content: '';
    display: block;
    height: 8px;
    width:100%;
    background-color:#90be9a;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l1:hover::before{
    width: 14%;
}

#l2:hover{
    color: #90be9a;

}
#l2::before{
    content: '';
    display: block;
    height: 8px;
    width:1000%;
    background-color:#90be9a;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l2:hover::before{
    width: 26%;
}
#l3:hover{
    color: #90be9a;

}
#l3::before{
    content: '';
    display: block;
    height: 8px;
    width:1000%;
    background-color:#90be9a;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l3:hover::before{
    width: 40%;
}
#l4:hover{
    color: #90be9a;

}
#l4::before{
    content: '';
    display: block;
    height: 8px;
    width:1000%;
    background-color:#90be9a;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 320ms;
    border-radius: 8px;

}
#l4:hover::before{
    width: 57%;
}
.bigimg{
    width: 1500px;
    height: 600px;
    ;
}
 #aks{
    width: 1417px;
    height: 500px;
    margin: 0px 0px 0% 0px;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
#hd h1{
    height: 260px;
    font: 25px;
    background-color: #90be9a;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: -180px;
    border-radius: 10px;
    position:relative;
    width: 750px;
    padding: 20px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;

}
#hd button{
    margin-top: -155px;
    position: absolute;
    width: 400px;
    height: 90px;
    margin-left: 220px;
    border-radius: 20px;
    border: none;
    border: solid rgb(255, 255, 255) 2px;
    

}
#hd button span{
    font-size: x-large;
    font-weight: 800;
    color: #384859;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
}
#hd button a{
    text-decoration: none;
}
#hd button:hover{
    background-color: #384859;
    transition:ease-in-out 150ms;
    

}
#hd button:hover span{
    color: #ffffff;
}

.second{
    width: 1421px;
    height: 520px;
    background-color:#384859;
    position: absolute;
    margin: 0px;
    display: inline-block;

}
.second h2{
    width: 1421px;
    height: 80px;
    background-color: rgb(217, 214, 209);
    text-align: center;
    margin-top: 10px;
    padding-top: 40px;
    text-transform: capitalize;
    font-weight: 900;
    font-size: xx-large;
    word-spacing: 5px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    
}
.cb, .b2 , .b3, .b4{
    width: 300px;
    height: 330px;
    background-color: #90be9a;
    margin-left: 30px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px ;

}
.b2{
   background-color: rgb(217, 214, 209);
   float: right;
   margin-top: -330px;
   position: relative;
   left: -750px;
  
}
.b3{
    float: right;
    right: 405px;
    top: -330px;
    justify-content: center;
    position: relative;
    background-color: rgb(217, 214, 209);
}
.b4{
    position: relative;
    float: right;
    right: -270px;
    top: -330px;

}
#small{
    float: left;
    margin-top: 175px; 
    width: fit-content;
    height: 40px;
    position: absolute;
    left: 90px;
    color: rgb(255, 255, 255);
    
   
}
#small:hover{
text-decoration: underline;
}
#online{
    width: 100px;
    height: 100px;
    left: 130px;
    margin-top: 40px;
    position: absolute;
    
}
#text{
     width: 220px;
    margin-top: 225px; 
    position: absolute;
    text-align: justify;
    color: #ffffff;
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 10px;
}
#text:hover{
    text-decoration: underline;
}
#ielts{
    width: 90px;
    height: 100px;
    margin-left: 107px;
    margin-top: 40px;
    margin-bottom: 10px;

}
#pt{
    width: 90px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 35px;

}
#small2 {

    padding-left: 27px; 
    padding-right:  20px;
    text-transform: capitalize;
    width: 290px;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: justify;

}
#sh3{
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -4px;
}
#small2:hover{
text-decoration: underline;
}

#sh3:hover{
    text-decoration: underline;
}
#personal-teachers{
    margin-left: 25px;
    width: 290px;
    margin-top: 70px;
}
#sh4{
    margin-top: -10px;
    margin-left: 20px;
    text-align: justify;
    margin-right: 20px;
}
#personal-teachers:hover{
text-decoration: underline;
}
#sh4:hover{
    text-decoration: underline;
}
#st{
    width: 90px;
    height: 100px;
    position: relative;
    left: 110px;
    top: 35px;
}
#self-study{
    margin-left: 20px;
    margin-top: 70px;
    color: rgb(255, 255, 255);
    width: 300px;
}
#sh5{
    margin-top: -10px;
    margin-left: 20px;
    text-align: justify;
    margin-right: 20px;
    color:rgb(255, 255, 255) ;
}
#self-study:hover{
    text-decoration: underline;
}
#sh5:hover{
text-decoration: underline;
}
.third-part{
    width: 100%;
    height: 5000px;
    background-color: #90be9a;
}
.box1{
    width: 90%;
    height: 500px;
    background-color: #384859;
   position: relative;
   left:70px;
   top: 600px;
   border-top-right-radius: 20%;
   

}
#akse1{
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #384859;
}
#khodeakse1{
    width: 95%;
    height: 95%;
    margin: 20px;
    margin-left: 10px;
    position: relative;
    top: -10px;
    border-radius: 10px;

}
#text1{
    width: 49%;
    height: 98%;
    float: right;
    position: relative;
    margin: 10px;
    top: -500px;
   color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
#khodetext1{
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    position: relative;
    top: -20px;
}
#info{
    font-size: 23px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    font-weight: 550;
    top: -25px;
}
#listing{
    font-size:  18px;
    word-spacing: 5px;
    line-height: 30px;
    position: relative;
    top: -30px;
    width: 80%;
    margin-left: 25px;
}
#dokme3{
    position: relative;
    left: 150px;
    top: -15px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: 700;
}
#dokme3 a{
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;

}
#dokme3:hover{
    background-color: #90be9a;
    transition: 0.5s;
    border:solid white 5px;
}